@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Phần nội dung */
.content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 50px;
    /* height: 100vh; */
}

.content-form {
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid #838383;
    box-shadow: 0 0 10px #838383;
}

/* Logo styles */
.logo img {
    width: 120px;
    height: auto;
}

/* Title styles */
.title-form {
    color: #24984d;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}

/* Form styles */
form {
    margin-top: 20px;
}

.form-otp .input-box,
.form-password .input-box {
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #130f40;
    text-align: left;
}

.input-box input[type="text"],
.input-box input[type="password"],
.input-box input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.input-box input[type="text"]:focus,
.input-box input[type="password"]:focus,
.input-box input[type="email"]:focus {
    border-color: #27c05d;
}

.button input[type="submit"] {
    background-color: #24984d;
    color: #e1e1e1;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 500;
    width: 140px;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}
.button input[type="submit"]:hover {
    background-color: #1eba6e;
    color: #ffffff;
}

.input-form {
    margin-top: 20px;
    font-size: 14px;
    z-index: 20;
}

.input-form a {
    color: #24984d;
}

.input-form a:hover {
    text-decoration: underline;
}
.notifi-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.notifi-wrapper .notifi {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #838383;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    /* opacity: 0; */
    /* visibility: hidden; */
    transition: all 0.1s ease-in-out;
}
.notifi span {
    margin-left: 5px;
    color: #ff0909;
}
